nav ul
{
	width: 850px;
	margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 63px;
	padding-left: 20px;
}

nav ul li
{
	list-style: none;
	display: inline-block;
}

nav ul li a
{
	display: block;
	text-decoration: none;
	padding:40px 60px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	color: black;
	transition: background-color 0.5s ease;
}

nav ul li a:hover
{
	background-color: rgba(200,255,200,0.4);
	color: white;
}

body 
{
	min-width: 250px;
	background-image: url('../images/nature.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	text-align: center;
	font-family: 'Titillium Web', Calibri, sans-serif;
}

.flex-container
{
	display: flex;
	flex-flow: row;
    background-color: rgba(255,255,255,0.3);
    width: 99.69%;
    height: 350px;
    text-align: center;	
	border-radius: 200px;
}

.flex-container > div 
{
	background-color: rgba(255,255,255,0.5);
	width: 250px;
	height: 200px;
	margin: 90px;
	text-align: center;
	line-height: 50px;
	font-size:20px;
	border-radius: 35px;
}

.flex-container > div:hover
{
	background-color: rgba(200,255,200,0.4);
	color: white;
}

#facebook
{
	height: 125px;
	width: 100px;
}

#instagram
{
    height: 125px;
	width: 100px;
}

#steam
{
    height: 125px;
	width: 100px;
}

#discord
{
	height: 125px;
	width: 100px;
}

footer
{
	position: absolute;
	bottom: 0;
	width: 98.5%;
	height:30px;
	background-color: rgba(255,255,255, 0.5);
	text-align: left;
	
}