#header
{
	font-size: 30;
	font-family: Georgia, serif;
	height: 2rem;
}

body 
{
	background-image: url('file:///C:/Users/alexa/Downloads/cygsdk-20200926/cygsdk/home/alexa/DT_assig2/www/images/nature.jpg');
	text-align: center;
}

h1
{
	
}