nav ul
{
	width: 850px;
	margin: 0 auto;
    background-color: rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 63px;
	padding-left: 20px;
}

nav ul li
{
	list-style: none;
	display: inline-block;
}

nav ul li a
{
	display: block;
	text-decoration: none;
	padding:40px 60px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
	color: black;
	transition: background-color 0.5s ease;
}

nav ul li a:hover
{
	background-color: rgba(200,255,200,0.4);
	color: white;
}

#firstP
{
	color: white;
	font-family: 'Titillium Web', Calibri, sans-serif;
	text-shadow: 2px 2px 5px black; 
} 

body 
{
	min-width: 250px;
	background-image: url('../images/nature.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
	text-align: center;
	font-family: 'Titillium Web', Calibri, sans-serif;
}

.mySlides
{
	display: none;
}

img
{
	vertical-align: middle;
	max-height: 500px;
	border-style: solid;
	border-color: rgba(255,255,255,1);
	border-radius: 15px;
}

.slideshow-containerPier
{
	max-width: 1000px;
	position: relative;
	margin: auto;
	
}

.text
{
	color: rgba(200,255,200,1);
	text-decoration: underline;
	font-size: 15px;
	font-family: 'Titillium Web', Calibri, sans-serif;
	font-weight: bold;
	padding: 8px 12px;
	position: relative;
	bottom: 40px;
	width: 100%;
	text-align: center;
}
	
.dot
{
    height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgba(255,255,255,0.6);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active
{
    background-color: lightgreen;
}	

.fade
{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

#disclaimer
{
	color: rgba(200,255,200,1);
	font-family: 'Titillium Web', Calibri, sans-serif;
	text-shadow: 2px 2px 5px black; 
	font-style: italic;
	font-size: 13px;
	text-decoration: underline;
	padding: 8px 12px;
	position: relative;
	bottom: 40px;
	width: 100%;
	text-align: center;
}

#secondP
{
	color: white;
	font-family: 'Titillium Web', Calibri, sans-serif;
	text-shadow: 2px 2px 5px black; 
} 

#videoDesc
{
	color: rgba(200,255,200,1);
	font-family: 'Titillium Web', Calibri, sans-serif;
	text-shadow: 2px 2px 5px black;
}

#thirdP
{
	color: white;
	font-family: 'Titillium Web', Calibri, sans-serif;
	text-shadow: 2px 2px 5px black; 
} 



footer
{
	position: static;
	bottom: 0;
	width: 98.5%;
	height:30px;
	background-color: rgba(255,255,255, 0.5);
	text-align: left;
}	